body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
    --container: 1480px;
    animation: none;
}

:where(main, header, footer) {
    width: clamp(360px, 75vw, var(--container));
}

:where(section) {
    width: 100%;
}


main h1 {
    --font-size: 3;
}

main .title h2 {
    --font-size: 2;
    color: var(--dark);
    font-weight: 100;
}


article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

article h2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

article h2 > div {
    display: flex;
    align-items: center;
    gap: var(--spacing-xs);
 
}

.article-wrapper .arrow-block {
    opacity: 1;
    transform: none;
}

.article-wrapper .arrow-block-text {
    margin-block-start: var(--spacing-xs);
}

.article-edit {
    display: flex;
    align-items: stretch;
}

.article-edit button {
    align-self: flex-end;
}

.order {
    --font-size:1.2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: var(--spacing-xs);
    width: 100%;
}

.order .btn {
    padding-inline: var(--spacing-xs);
}

.live-input  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.live-input > div  {
    width: 100%;
}

.live-input button  {
    margin-block-end: var(--spacing-xs);
}


.links {
    display: flex;
    gap: var(--spacing);
    flex-wrap: wrap;
}

.links img {
    width: 5rem;
}

.links article  {
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
    padding: var(--spacing2);
    justify-content: space-between;
    align-items: center;
    border: 2px dashed var(--neutral);
    background-color: var(--primary-light);
}

/**** PROJECTS ***/

.projects {
    margin-block-start: var(--spacing2);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(500px, 100%), 1fr));
    gap: var(--spacing2);
}

.project {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    border: 2px dashed var(--neutral);
    padding: var(--spacing2);
}


.project h2 {
    --font-size:2;
}
.project .subtitle {
    display: flex;
    justify-content: space-between;
}
.project .subtitle > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing-xs);
}

.project .images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: var(--spacing);
    padding-block-start: var(--spacing);    

}

.project .edit-images {
    margin-block-start: var(--spacing2);    
    border-block-start: 2px dotted var(--neutral);
}
.project:hover {
    background-color: var(--primary-light);
}

.project .badges {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-xs);
    margin-block-end: var(--spacing);
}

.project-image {
    --font-size: 1.2;
    border: 2px dashed transparent;
    padding: var(--spacing-xs);
    aspect-ratio: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.project-image:hover {
    border-color: var(--dark);
}

.project .upload {
    display: flex;
    gap: var(--spacing-xs);
}