body {
    animation: none;
}
article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

article h2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

article h2 > div {
    display: flex;
    align-items: center;
    gap: var(--spacing-xs);
 
}

.article-wrapper .arrow-block {
    opacity: 1;
    transform: none;
}

.article-wrapper .arrow-block-text {
    margin-block-start: var(--spacing-xs);
}

.article-edit {
    display: flex;
    align-items: stretch;
}

.article-edit button {
    align-self: flex-end;
}

.order {
    --font-size:1.2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: var(--spacing-xs);
    width: 100%;
}

.order .btn {
    padding-inline: var(--spacing-xs);
}