@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Jura:wght@300;400;500;600;700&family=Kranky&display=swap');

:root {
    --spacing-xs: 0.5rem;
    --spacing: 1rem;
    --spacing2: 2rem;
    --spacing3: 3rem;
    --spacing4: 4rem;

    --font-title: 'Italiana', serif;
    --font-text: 'Jura', sans-serif;
    --font-arrow: 'Kranky', cursive;

    --primary: #055EB0;
    --surface: color-mix(in srgb, var(--primary) 3%, white);
    --primary-light: color-mix(in srgb, var(--primary) 10%, var(--surface));
    --neutral: color-mix(in srgb, var(--primary) 30%, grey);
    --text: color-mix(in srgb, var(--primary) 3%, black);

    --primary-light2: color-mix(in srgb, var(--primary) 15%, transparent);
    --error: rgba(168, 13, 13, 0.7);

    --font-size: 1;
    --container: 1480px;
    --container-width: clamp(360px, 75vw, var(--container));
    --nav-height: 90px;
}

/******* RESET ****/
* {
    box-sizing: border-box;
    font-size: clamp(calc(var(--font-size) * 0.8rem), calc(var(--font-size) * 1.25vw), calc(var(--font-size) * 1rem));
}

:where(body) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    background-image: url(../images/paper_background.png);
    background-color: var(--surface);
    background-repeat: repeat-x repeat-y;
    position: relative;
    animation: slide ease-in-out 0.5s;
    box-shadow: -1rem 0 3rem -1rem var(--neutral);
    font-family: var(--font-text);
    --font-size: 1.4;
    color: var(--text);
    gap: var(--spacing);
    color-scheme: light;
    min-height: 100vh;
}

main, footer, header {
    width: var(--container-width);
}


@media (prefers-reduced-motion: reduce) {
    body {
        animation: none;
    }
}

@keyframes slide {
    from {
        opacity: 0.5;
        transform: translateX(100vw);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}


:where(img) {
    width: 100%;
    object-fit: cover;
}

:where(ul) {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
    padding: 0;
    margin: 0;
}

li {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: var(--spacing-xs);
}

/********* THEME *********/



:where(section) {
    width: 100%;
}

:where(h1, h2, h3, h4) {
    font-family: var(--font-title);
    color: var(--primary);
    display: flex;
    align-items: center;
    gap: var(--spacing-xs);
    margin-block: var(--spacing-xs);
    line-height: 120%;
}

:where(a:any-link) {
    color: var(--text);
    text-decoration: none;
}

a:hover {
    color: var(--primary);
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-xs);
    color: var(--surface);
    background-color: var(--primary);
    padding-block: var(--spacing-xs);
    padding-inline: var(--spacing2);
    border-radius: 2.5rem;
    width: fit-content;
    transition: 0.3s;
}

.btn svg {
    fill: var(--surface);
}

:is(.btn) {
    text-decoration: none;
}

:is(.btn:hover) {
    color: var(--surface);
    background-color: color-mix(in srgb, var(--primary) 90%, var(--surface));
    transform: scale(1.1);
}

:is(.btn:active) {
    color: var(--surface);
    background-color: color-mix(in srgb, var(--primary) 90%, var(--text));

}

:is(.btn:focus) {
    box-shadow: 0 0 6px 3px var(--primary);
}

.btn-outline {
    background-color: transparent;
    color: var(--primary);
    border: 1px solid var(--primary);
}

.btn-outline svg {
    fill: var(--primary);
}

.btn-outline:hover {
    background-color: transparent;
    color: var(--primary);
}

.btn-outline:active {
    background-color: transparent;
}

.badge {
    --font-size: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-xs);
    background-color: transparent;
    color: var(--primary);
    border: 1px solid var(--primary);
    padding-inline: var(--spacing);
    border-radius: 2rem;
    width: fit-content;
    transition: 0.3s;
}

.badge:hover {
    background-color: var(--primary-light);
}

.icon {
    width: clamp(calc(var(--font-size) * 0.8rem), calc(var(--font-size) * 1.25vw), calc(var(--font-size) * 1rem));
}

.icon-dark {
    filter: brightness(120%) grayscale(100) hue-rotate(50deg);
}


:where(form, form>div) {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
    width: 100%;
}

:where(form label + ul) {
    --font-size: 1.2;
    color: var(--error);
}

::placeholder {
    color: var(--text);
}

:where(input, select, textarea) {
    width: 100%;
    border: 1px solid var(--neutral);
    border-radius: 4px;
    padding: var(--spacing-xs);
}

:where(textarea) {
    --font-size: 1.2;
    height: 10rem;
}

:where(.help-text) {
    --font-size: 1.1;
    font-weight: lighter;
    color: var(--text);
}

main h1 {
    --font-size: 3;
}

main .title {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    gap: var(--spacing);
    flex-wrap: wrap;
    margin-block-end: var(--spacing2);
}

.title h2 {
    display: flex;
    align-items: flex-end;
    gap: var(--spacing2);
}

main .title h2 {
    --font-size: 2;
    color: var(--text);
    font-weight: 100;
}



/****** NAV *****/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing);
    padding: var(--spacing);
    padding-block-end: 0;
    margin: auto;
    border-block-end: 2px dashed var(--primary-light);
    height: var(--nav-height);
}



nav .brand {
    display: flex;
    align-items: center;
    --font-size: 2;
    color: var(--primary);
}

nav .catchphrase {
    --font-size: 1.4;
    color: var(--primary);
    padding-block-start: 4px;

}

nav :is(.me) {
    width: 4rem;
    transform: rotate(var(--rotate, 3deg)) scale(var(--scale, 1));
    transition: 0.5s;
}

nav .me:hover {
    --rotate: 8deg;
    --scale: 1;
}

nav .menu {
    width: 3rem;
    position: relative;
    background-color: transparent;
    border-color: var(--primary-light2);
    cursor: pointer;
    border-radius: 4px;

    &:hover, &:has(+.popover-menu:popover-open) {
        background-color: var(--primary-light2);
        border-color: var(--primary-light2);
    }
}
.popover-menu {
    opacity: 0;
    animation: fadeIn 0.5s forwards; 
    position: absolute;
    --popover-top: var(--nav-height);
    --popover-right: calc((100% - var(--container-width)) / 2 + var(--spacing));
    min-width: 300px;
    width: fit-content;
    max-width: 90%;
    position: absolute;
    left: unset;
    bottom: unset;
    right: var(--popover-right);
    top: var(--popover-top);
    margin: 0;
    padding: var(--spacing);
    border-color: transparent;
    --surface: color-mix(in srgb, var(--primary) 15%, white);
    background-color: var(--surface);
    border-color: var(--primary-light2);
    border-radius: 8px;
    z-index: 5;
    transform-origin: top right;
}

.popover-menu:popover-open {
    opacity: 100;
}


.social {
    display: flex;
    gap: var(--spacing-xs);
}

.social svg {
    fill: var(--primary);
}

/*** flahses ***/
.flash {
    background-color: var(--primary-light);
    border: 2px dashed var(--primary);
    color: var(--primary);
    padding: var(--spacing);
    border-radius: var(--spacing);
}


/**** footer ****/
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing2);
    padding-block-end: var(--spacing);
    margin-block-start: var(--spacing2);
    margin-block-end: var(--spacing2);
    border-block-start: 2px dashed var(--primary-light);
}

:is(nav, footer) a {
    display: flex;
    align-items: center;
    gap: var(--spacing-xs);
    text-decoration: none;
}

:is(nav, footer) a:hover .icon {
    transform: scale(1.1);
}

.legal {
    --font-size: 1.2;
    position: absolute;
    bottom: var(--spacing2);
    right: var(--spacing2);
}

@media screen and (width < 720px) {
    :is(.hide-sm) {
        display: none;
    }
}

@keyframes fadeIn {
    from { 
        opacity: 0;
        transform: rotate(45deg);
    }
    to { 
        opacity: 0.95;
        transform: rotate(0);
    }
  }
