body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    --container: 1480px;
}

:where(main, header, footer) {
    width: clamp(360px, 75vw, var(--container));
}

main {
    padding: var(--spacing2);
    padding-block-start: var(--spacing-xs);
    margin: auto;
}

main .title {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    gap: var(--spacing3);
    margin-block-end: var(--spacing2);
}

main h1 {
    --font-size: 3;
}

main .title h2 {
    --font-size: 2;
    color: var(--dark);
    font-weight: 100;
}
