body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 10vh;
    --container: 1480px;
}

:where(main, header) {
    width: clamp(360px, 75vw, var(--container));
}

main {
    padding: var(--spacing2);
    padding-block-start: var(--spacing-xs);
    margin: auto;
}

main .title {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    gap: var(--spacing3);
    margin-block-end: var(--spacing2);
}

main h1 {
    --font-size: 3;
}

main .title h2 {
    --font-size: 2;
    color: var(--dark);
    font-weight: 100;
}

:where(section) {
    width: 100%;
}

.phrase {
    display: flex;
    align-items: center;
}

.phrase .icon {
    --font-size: 3;
}

.phrase:hover .knife-icon {
    opacity: 0.8;
    transition-delay: 0.2s;
    transform: rotate(-53deg) translateY(-2rem);
}

.knife-icon {
    transition: 0.3s;
    margin-inline-start: var(--spacing3);
    opacity: 0.1;
    transform: rotate(-50deg) translateY(-2rem);
    width: 4rem;
}

.skills {
    perspective: 1000px;
    --article-size: 415px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(var(--article-size), 100%), 1fr));
    grid-template-rows: 1fr 1fr 1fr;
    gap: var(--spacing4);
    align-items: stretch;
}


article {
    padding: var(--spacing);
    border-radius: var(--spacing-xs);
    border: 2px dashed var(--neutral);
    position: relative;
    min-height: 100%;
}


article h2 {
    --font-size: 1.8;
    margin-block-end: var(--spacing);
    margin-inline-start: var(--spacing-xs);
}

.article-wrapper:first-child article {
    background-color: var(--primary-light);
}

.article-content {
    display: flex;
    gap: var(--spacing);
}

.article-content .icon {
    --font-size: 5;
    align-self: flex-start;
}

.article-wrapper .arrow-block {
    display: flex;
    opacity: 0.1;
    font-family: var(--font-arrow);
    transform: rotate(-1.5deg);
    justify-content: center;
}

.article-wrapper .arrow-block-text {
    border-radius: 1rem;
    margin-block-start: calc(var(--spacing) * -1);
    width: fit-content;
}

.arrow-block-text .arrow {
    width: 3rem;
    transform: rotate(-90deg);
}

article:hover {
    border-color: var(--dark);
}

article:hover .article-content>.icon {
    transform: scale(1.1);
    transition: 0.2s
}

article:hover+.arrow-block {
    opacity: 0.9;
    transition-delay: 0.2s;
}


.resume {
    height: min-content;
    align-self: center;
    position: relative
}

.resume article {
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
    padding-block: var(--spacing2);
    justify-content: center;
    align-items: center;
    border: none;
    background-color: var(--primary-light);
    color: var(--primary);
    font-weight: bold;
}

.resume .arrow-block {
    position: absolute;
    top: -2rem;
    right: -4rem;
    z-index: 1;
    opacity: 0.9;
    transform: rotate(7deg);
}

.resume .arrow {
    width: 4rem;
    transform: rotate(100deg);
}