* {
    box-sizing: border-box;
}

.map {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing2);
}

.game {
    width: min(calc(100% - var(--spacing2)), 720px);
    opacity: 0.6;
    z-index: -1;
    --size: 1fr;
    display: grid;
    grid-template-columns: repeat(var(--nb-cell), var(--size));
    grid-template-rows: repeat(var(--nb-cell), var(--size));
    margin: auto;
    border: 2px dashed var(--primary-light);
    aspect-ratio: 1;
}

/* .game > div {
    border: 1px dotted var(--dark);
} */

.game .snake {
    /* width: var(--size); */
    aspect-ratio: 1;
    background: var(--primary);
    border-radius: 8px;
}

.game .head {
    filter: brightness(50%);

    transform: scaleY(0.5);
}

.head.T, .head.B {
    transform: scaleY(1) scaleX(0.5);
}

.positionH {
    transform: scaleY(0.5);
}

.positionV {
    transform: scaleX(0.5);
}

.positionRT {
    clip-path: polygon(0% 25%, 25% 25%, 25% 0, 75% 0, 75% 75%, 0 75%);
}

.positionTL {
    clip-path: polygon(75% 100%, 75% 25%, 0% 25%, 0% 75%, 25% 75%, 25% 100%);
}

.positionBR {
    clip-path: polygon(25% 0%, 25% 75%, 100% 75%, 100% 25%, 75% 25%, 75% 0%);
}

.positionLB {
    clip-path: polygon(100% 25%, 25% 25%, 25% 100%, 75% 100%, 75% 75%, 100% 75%);
}

.fruit {
    display: grid;
}

.fruit img {
    aspect-ratio: 1;

}

.btn {
    border: 1px solid var(--primary);
    width: fit-content;
    font-size: 1.3rem;
    padding: 0.5rem;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.btn-sm {
    box-shadow: none;
    padding: 0.3rem;
    font-size: 1rem;
}

a:any-link {
    color: var(--primary);
    text-decoration: none;
}

.infos {
    top: var(--spacing);
    right: var(--spacing);
    display: flex;
    flex-direction: column;
    max-width: 50%;
}

.score {
    border: 1px solid var(--primary);
    padding: 0.5rem;
    font-size: 1.2rem;
}