<nav>
	<a class="brand" href="{{ path('app_home')}}">
		<img class="me" src="{{ asset('images/sylvain_round.png') }}" alt="Sylvain Blondeau - Développeur Freelance PHP Symfony">
		Sylvain Blondeau
	</a>

	<div class="catchphrase hide-sm">Développeur senior PHP / Symfony</div>
	{% include 'components/_social.html.twig' %}
	{% include 'components/_burger.html.twig' %}
</nav>
