<nav>
	<a href="{{ path('app_home')}}">
	<h1>
		<img class="icon" src="{{ asset('images/home.png') }}" alt="home icon">
		Sylvain Blondeau
	</h1>
	</a>

	<h2>Développeur freelance PHP/Symfony | 100% télétravail</h2>
	<img class="me" src="{{ asset('images/sylvain.png') }}" alt="Sylvain Blondeau - Développeur Freelance PHP Symfony - 100% télétravail, wearing glasses and a cool t-shirt">
</nav>

